@media (max-width: 1070px) {
    .right .list{
        display: none;
    }
    .dropdown__trigger{
        display: block;
    }
}
@media (max-width: 760px) {
    .search{
        display: none;
    } 
    .left a:last-child{
        display: flex;
    }
    .left{
        width: 100%;
    }
    .contacts-content{
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 464px) {
    .nav{
        padding: 37px 35px;
    }
}
@media (max-width: 545px) {
    .about-content img, .about-text{
        width: 100%;
    }
}
@media (max-width: 366px) {
    .header-content .text p{
        font-size: 35px;
    }
}
